<% provide(:title, 'Moyuu') %>
<div class="center hero-unit">
  <h1>Welcome to the Moyu</h1>
  <h2>
    This is not the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Search course now!", search_path, class: "btn btn-large btn-primary" %>
  <!--<form accept-charset="UTF-8" action="/search" method="post">-->
  <!--<label for="course_code">Confirmation</label>-->
  <!--<input id="course_code"-->
  <!--name="course[course_code]" type="text" />-->
  <!--<input class="btn btn-large btn-primary" name="commit" type="submit"-->
  <!--value="search course" />-->
  <!--</form>-->


</div>

