<% provide(:title, '用户') %>
<h1>所有用户</h1>

<%= will_paginate renderer: BootstrapPagination::Rails%>
<ul class="users">
    <%= render @users %> <!-- _user.html.erb -->
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails%>