<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate renderer: BootstrapPagination::Rails%>
<ul class="users">
    <%= render @users %> <!-- _user.html.erb -->
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails%>