<% provide(:title, 'Courses') %>

<h1>All courses</h1>

<table id="courses_list">
  <tr>
    <td><strong>代码</strong></td>
    <td><strong>课程名称</strong></td>
    <td><strong>考试日期</strong></td>
    <td><strong>考试时间</strong></td>
    <td><strong>考试地点</strong></td>
  </tr>
  <%= render @courses %> <!-- _course.html.erb -->
</table>

