@import "bootstrap";

$lightGray: #999;
$grayMediumLight: #eaeaea;
$grayLighter: #e3e3e3;

html {
  overflow-y: scroll;
}
body {
  padding-top: 120px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.nav{
  float: right;
  padding-top: 5px;
  li {
    float: left;
  }
}
.dropdown-menu{
  li{
    float: none;
    padding-left: 0;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;


  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/*优化调试信息布局*/
/* 下面的代码用到了Sass的mixin功能，相当于是把3行代码打包进box_sizing */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
//gravatar 在users_helper中定义
.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

.alert-error{
  background-color: #f8b2b2;
}

#error_explanation {
  float: left;
  color: #f00;
  width: 100%;
  margin-bottom: 20px;
  ul {
    list-style: none;
    margin: 0 0 0px 0;
    li{
      width: 100%;
      margin-right: 20px;
      float: left;
//      margin-left: 100px;
    }
  }
}

.field_with_errors {
  //@extend .control-group !optional;
  @extend .has-error;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  float: left;
  width: 100%;
  padding-left: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.pagination {
  width: 100%;
  text-align: center;
}

/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $lightGray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
