<footer class="footer">
  <small>
    <a href="https://github.com/lyk-ohlyk/SE_project" target="_blank">Github</a>
    by Moyu team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to '联系我们', contact_path %></li>
      <li><a href="http://railstutorial.org/" target="_blank">教程</a></li>
    </ul>
  </nav>
</footer>