<footer class="footer">
  <small>
    <a href="https://github.com/lyk-ohlyk/SE_project" target="_blank">Github</a>
    by Moyu team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>